:root{
    --header-height: 70px;
    --main-bg:#d5d5d5;
    --main-trasition:all 0.3s ease-in-out;
    --main-color:whitesmoke;
    --main-font-weight: 550;
    --main-border-radius: 5px ;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{
    max-width: 1240px;
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:unset;
}

input{
    outline: none;
}

.row-flex{
    display: flex;
    justify-content: space-between;
}

.row-grid{
    display: grid;
    justify-content: space-between;
}

.main-btn{
    padding: 12px 12px;
    border:none;
    color: white;
    background-color: black;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    transition: var(--main-trasition);
}

.main-btn:hover{
    background-color: var(--main-bg);
    color: black;   
}

.product-item-price {
    margin:12px 0;
}

.product-item-price p{
    font-weight: var(--main-font-weight);
}

.product-item-price span{
    font-size: small;
    font-weight: 300;
    text-decoration: line-through;
}



.heading-text{
    font-weight: bolder;
    padding:  6px ;
    position: relative;
    margin: 20px 0;

}

.heading-text::after{
    position: absolute;
    content:"";
    display: block;
    width:2px;
    height:50%;
    left:0;
    top:50%;
    transform: translateY(-50%);
    background-color: var(--main-bg);
}

.heading-text::before{
    position: absolute;
    content:"";
    display: block;
    width:50%;
    height:3px;
    bottom: 0;
    left:6px;
    background-color: black;
    border-radius: 10px;
}

/* Header */
header.active{
    background-color: white;

}


header{
    height: var(--header-height);
    border-bottom: 1px solid #ddd;
    position:fixed;
    z-index: 1;
    width: 100%;
    transition: var(--main-trasition);
}

header .row-flex{
    align-items: center;
}

.header-logo img{
    width:100px;
    cursor: pointer;
}

.header-nav nav ul{ 
    display: flex;

}
.header-nav nav ul li{
    padding: 0 20px;
    transition: var(--main-trasition);
    cursor: pointer;
}
.header-nav nav ul li a{
    line-height: var(--header-height);
    font-size: smaller;
}

.header-nav nav ul li:hover{
    background-color: var(--main-bg);
}
.header-search{
    position: relative;
}

.header-search i{
    position: absolute;
    left:6px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header-search input{
    height: 30px;
    border: solid 1px black;
    padding-left: 20px;
    border-radius: 15px;
    padding-left: 24px;
}

.header-cart i {
    font-size: larger;
    cursor: pointer;
    position: relative;
}

.header-cart i::after {
    content: attr(number);
    position: absolute;
    display: flex;
    height: 20px;
    width: 20px;
    top: -10px;
    right: -10px;
    background-color: black;
    border-radius: 50%;
    color:var(--main-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
}
/* Slider */

.slider{
    width: 100% ;
    overflow: hidden;
    aspect-ratio: 2.43/1;
    position: relative;
}
.slider-items{
    position: relative;
    transition: var(--main-trasition);
}

.slider-item{
    position: absolute;   
}

.slider-item img {
  width: 100vw;
}

.slider-arrow {
    position: absolute;
    z-index: 1;   
}

.slider-arrow i{
    cursor: pointer;
    font-size: large;
}

.slider-arrow {
    position:absolute;
    right:12px;
    top:50%;   
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

/*responsive*/
.header-bar-icon{
    display: none;
}


/*hot- products*/
.hot-products .row-grid-hot-product{
    grid-template-columns: repeat(5 ,19%);
}

.hot-product-item img {
    width: 100%;
}

.hot-product-item > p{
    font-weight: var(--main-font-weight);

}

.hot-product-item span{
    font-size: smaller;
    font-weight: 300;
}


/* footer */
footer{
    margin-top: 50px;
    padding: 50px 0 0 12px;
    background-color: var(--main-bg);
}

.footer-item p:first-child{
    font-weight: bolder;
    margin-bottom:12px;
}

.footer-item p{
    font-weight: lighter;
    line-height: 32px;
}


footer .row-grid{
    grid-template-columns: repeat(4,25%);
}

/*products*/
.p-to-top{
    padding-top: calc((var(--header-height) + 20px));
}
 
.product-detail .row-flex-product-detail{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.row-flex-product-detail i {
    margin: 0 12px ;
}

.row-flex-product-detail  {
    position: relative;
    padding-left: 6px;
    padding-bottom :6px ;
}

.row-flex-product-detail::after{
    position: absolute ;
    content: "";
    height: 50%;
    width: 2px;
    left:0;
    background-color: var(--main-bg);
}

.row-flex-product-detail::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 60px;
    bottom: 0;
    left:6px;
    background-color: black;
    border-radius: 10px;
}


.product-detail .row-grid{
    grid-template-columns: 60% 40%;
    column-gap: 30px;
}

.product-detail-left{
    position: relative;
}

.product-detail-left img{
    width: 100%;
}

.product-images-items{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 20px;
}

.product-images-items img{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    object-fit:cover ;
    border-radius: 10px;
    border:1px solid var(--main-bg);    
    cursor: pointer;
}

.product-images-items img.active{
    border:1px solid black;
}

.product-detail-right-infor h1{
    font-weight: var(--main-font-weight);
}

.product-detail-right-des h2{
    font-weight: var(--main-font-weight);
    margin:12px 0; 
    font-size:20px
}

.product-detail-right-des ul{
    background-color: var(--main-bg);
    padding: 20px 20px 20px 30px;
    border-radius:var(--main-border-radius) ;
}

.product-detail-right-des ul li{
    list-style: circle;
    margin-bottom:12px;
}

.product-detail-right-des ul li::marker{
    color: black;
}

.product-detail-right-quantity h2{
    font-weight: var(--main-font-weight);
    margin:12px 0; 
    font-size:20px
}

.product-detail-right-quantity-input{
    position: relative;
    width: 70px;
    margin-bottom: 20px;
}

.product-detail-right-quantity-input input{
    height:25px;
    width: 70px;
    text-align: center;
}

.product-detail-right-quantity-input i {
    height:25px ;
    width: 25px;
    background-color: black;
    color: var(--main-color);
    position:absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-detail-right-quantity-input .fa-plus{
    right:0;
    top:0;
}

/*hide arrow of number*/


.product-detail-right-quantity input input::-webkit-outer-spin-button,
.product-detail-right-quantity input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

