:root{
    --header-height: 70px;
    --main-bg:#d5d5d5;
    --main-trasition:all 0.3s ease-in-out;
    --main-color:whitesmoke;
    --main-font-weight: 550;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{
    max-width: 1240px;
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:unset;
}

input{
    outline: none;
}

.row-flex{
    display: flex;
    justify-content: space-between;
}

.row-grid{
    display: grid;
    justify-content: space-between;
}

.heading-text{
    font-weight: bolder;
    padding:  12px;
    position: relative;
    margin: 20px 0;

}

.heading-text::after{
    position: absolute;
    content:"";
    display: block;
    width:2px;
    height:50%;
    left:0;
    top:50%;
    transform: translateY(-50%);
    background-color: var(--main-bg);
}

.heading-text::before{
    position: absolute;
    content:"";
    display: block;
    width:60px;
    height:3px;
    bottom: 0;
    left:12px;
    background-color: black;
    border-radius: 10px;
}

/* Header */

header{
    height: var(--header-height);
    border-bottom: 1px solid #ddd;
    position:fixed;
    z-index: 1;
    width: 100%;
}

header .row-flex{
    align-items: center;
}

.header-logo img{
    width:100px;
    cursor: pointer;
}

.header-nav nav ul{ 
    display: flex;

}
.header-nav nav ul li{
    padding: 0 20px;
    transition: var(--main-trasition);
    cursor: pointer;
}
.header-nav nav ul li a{
    line-height: var(--header-height);
    font-size: smaller;
}

.header-nav nav ul li:hover{
    background-color: var(--main-bg);
}
.header-search{
    position: relative;
}

.header-search i{
    position: absolute;
    left:6px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header-search input{
    height: 30px;
    border: solid 1px black;
    padding-left: 20px;
    border-radius: 15px;
    padding-left: 24px;
}

.header-cart i {
    font-size: larger;
    cursor: pointer;
    position: relative;
}

.header-cart i::after {
    content: attr(number);
    position: absolute;
    display: flex;
    height: 20px;
    width: 20px;
    top: -10px;
    right: -10px;
    background-color: black;
    border-radius: 50%;
    color:var(--main-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
}
/* Slider */

.slider{
    width: 100vw;
    overflow: hidden;
    aspect-ratio: 2.43/1;
    position: relative;
}
.slider-items{
    position: relative;
    transition: var(--main-trasition);
}

.slider-item{
    position: absolute;   
}

.slider-item img {
  width: 100%;
}

.slider-arrow {
    position: absolute;
    z-index: 1;   
}

.slider-arrow i{
    cursor: pointer;
    font-size: large;
}

.slider-arrow {
    position:absolute;
    right:12px;
    top:50%;   
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

/*responsive*/
.header-bar-icon{
    display: none;
}


/*hot- products*/
.hot-products .row-grid-hot-product{
    grid-template-columns: repeat(5 ,19%);
}

.hot-product-item img {
    width: 100%;
}

.hot-product-item > p{
    font-weight: var(--main-font-weight);

}

.hot-product-item span{
    font-size: smaller;
    font-weight: 300;
}

.hot-product-item-price {
    margin:12px 0;
}

.hot-product-item-price p{
    font-weight: var(--main-font-weight);
}

.hot-product-item-price span{
    font-size: small;
    font-weight: 300;
    text-decoration: line-through;
}

/* footer */
footer{
    margin-top: 50px;
    padding: 50px 0 0 12px;
    background-color: var(--main-bg);
}

.footer-item p:first-child{
    font-weight: bolder;
    margin-bottom:12px;
}

.footer-item p{
    font-weight: lighter;
    line-height: 32px;
}


footer .row-grid{
    grid-template-columns: repeat(4,25%);
}

