@import url('https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,300;0,400;0,500; 0,600; 0,700;0,800;1,600;1,700&display=swap');
:root{
    --main-bg-color:#dfe2e8;
    --sub-bg-color:#f2f7fb;
    --top-height:70px;
    --main-trasition:all 0.3s ease-in-out;
    --main-border-radius:5px;
    --main-font-family:'Open Sans',sans-serif;
}



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

a{
    text-decoration: none;
    color:unset;
}

li{
    list-style: none;
}

.row-grid{
    display: grid;
    justify-content: space-between;
}

.flex-box{
    display: flex;
    ;
}

.main-btn{
    padding: 10px 12px;
    background-color: black;
    color: whitesmoke;
    border:none;
    cursor: pointer;
    transition: var(--main-trasition);
}

/*main admin*/
.admin .row-grid{
    grid-template-columns: 20% 80%;
}



/*Sidebar*/

.admin-sidebar{
    height:100vh;   
    background-color: var(--main-bg-color);

}

.admin-sidebar-top{
    text-align: center;
    height: var(--top-height);
    border-bottom: 1px solid gray;
    padding: 10px;
}

.admin-sidebar-top img{
    width: 70px;
}

.admin-sidebar-content > ul > li >a{
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-start;
}

.admin-sidebar-content > ul > li >a i:last-child{
    margin-left: auto;
}


.admin-sidebar-content ul li a i {
    margin-right:6px ;
}

.admin-sidebar-content {
    padding: 30px 0 0 30px;
}

.admin-sidebar-content ul li {
    padding: 6px  ;
    transition: var(--main-trasition);
}

.admin-sidebar-content ul li:hover {
    background-color: gray;
    color: white;
}

.sub-menu{
    height:0;
    overflow: hidden;
    transition: var(--main-trasition);
}

/* .sub-menu.active {
    height: ;
} */

.sub-menu li:hover a{
    color: aqua;
}
/*content*/
.admin-content{
    background-color: #f2f6fa;
}


.admin-content-top{
    display: flex;
    justify-content: space-between;
    height: var(--top-height);
    padding: 0 12px;
    border-bottom: 1px solid gray;
    
}

.admin-content-top .flex-box{
    height: 70px;
    align-items: center;
}

.admin-content-top i{
    margin-right: 12px;
    cursor: pointer;
}

.admin-content-top ul li:last-child img{
    border-radius: 50%;
    border: 1px solid black;
}

.admin-content-top ul li:last-child p{
    cursor: pointer;
}

.admin-content-top-right ul li:first-child i {
    position: relative;

}

.admin-content-top-right ul li:first-child i::after{
    position: absolute;
    content: attr(number);
    height:20px;
    width: 20px;
    display: block;
    background-color: aqua;
    border-radius: 50%;
    top:-12px;
    right: -10px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation:  notification ;
    animation-duration:2s;
    animation-iteration-count: infinite; 
    animation-delay: 0.5s;
}

.admin-content-top-right ul li:nth-child(2) i {
    position: relative;

}

.admin-content-top-right ul li:nth-child(2) i::after{
    position: absolute;
    content: attr(number);
    height:20px;
    width: 20px;
    display: block;
    background-color: red;
    border-radius: 50%;
    top:-12px;
    right: -10px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation:  notification ;
    animation-duration:2s;
    animation-iteration-count: infinite; 
    animation-delay: 0.5s;
}

@keyframes notification {
    0%{
        opacity: 0;
    }
    100%   
        {
            opacity: 1;
        }
}


.admin-content-main-title h1 {
    padding:12px;
    font-weight: 500;
    position: relative;
}

.admin-content-main-title h1::before{
    position: absolute;
    display: block;
    content: "";
    height:4px;
    width: 70px;
    background-color: #7e8993   ; 
    bottom: 6px;
    left: 12px;
    border-bottom-right-radius:5px ;
    border-top-right-radius:5px ;
}

.admin-content-main-content{
    display: grid;
    grid-template-columns: 69% 30%;
    padding: 12px;
    column-gap: 20px;
}

.admin-content-main-content-left input{
    height:30px;
    border:none;
    background-color: white;
    margin-bottom: 20px;
    /* outline: none; */
    border-radius: var(--main-border-radius);
    padding-left: 6px;
}

.admin-content-main-content-two-input {
    display: flex;
    justify-content: space-between
}

.admin-content-main-content-two-input input{
    width: 40%;
}

.admin-content-main-content-left textarea{
    height:150px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 6px;
    border: none;
}


.admin-content-main-content-right-image input{
    display: none;
}

.admin-content-main-content-right-images input{
    display: none;
}

.admin-content-main-content-right label{
    display: inline-block;
    padding:6px 12px;
    background-color: black;
    color:whitesmoke;
    cursor: pointer;
}

.image-show , .image-shows{
    min-height: 150px;
}

.ck.ck-editor__editable_inline {
    min-height: 200px;
    border-radius: var(--main-border-radius);
    background-color: white;
    padding: 12px;
    font-size: 14px;
    line-height: 1.4;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    
}

.ck-editor {
    margin-bottom: 20px;
    width: 100%;
}

.admin-content-main-content-left {
    max-height: 550px;
    overflow: scroll
}